.container {
  display:flex;
  height: 100%;
}

.image-container {
  flex-grow: 1;
  width: 98%;
  height: 98%;
  padding-right: 10px;
  padding-left: 10px;
}

.center-container {
  display:flex;
  height: 100%;
  flex-grow: 1;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

mat-grid-tile {
  border: 1px solid red;
}

mat-grid-list {
  height: 1000px;
}

body {
  margin: 5px;
}

.notice {
  font-style: italic;
}

//div#images {
//  //position: absolute;
//  width: 15%;
//}

img {
  max-width: 100%;
  height: auto;
}

div#images h2 {
  font-size: 1em;
  margin: 0 1em;
}

.associated-images {
  margin: 0 1em;
  padding-left: 0;
}

.sidenav-left {
  //margin: 0 1em;
  //padding-left: 0;
  width: 15%;
}

.loader {
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

div#images li {
  max-width: 256px;
  list-style-type: none;
  padding: 5px 5px 0;
}

div#images ul {
  max-height: 98%;
  margin: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  overflow-y: scroll;
}

.current-slide {
  background-color: #ccf;
}

mat-sidenav-content {
  flex-grow: 1;
  height: 100%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-image-display {
  background-color: black;
  //border: 1px solid #000;
  color: white;
}

mat-sidenav#right-sidenav {
  width: 24.5%;
}

div#properties {
  height: 98%;
  padding: 0 10px;
  overflow: auto;
}


div#properties dl {
  font-size: small;
  margin: 0;
}

div#properties dt {
  font-weight: bold;
  border-top: 1px solid #000;
  background-color: #eee;
}

div#properties dd {
  margin-left: 0;
}

.left-sidebar-opener {
  background: #5F5F5F 0 -100px no-repeat;
  width: 10px;
  height: 100px;
  left: 0px;
  background-size: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

.right-sidebar-opener {
  background: #5F5F5F 0 -100px no-repeat;
  width: 10px;
  height: 100px;
  right: 0px;
  background-size: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}