.cont {
  display: flex;
  height: 90%;
}

div#images {
  width: 15%;
}

img {
  max-width: 100%;
  height: auto;
}

div#images h2 {
  font-size: 1em;
  margin: 0;
}

.associated-images {
  margin-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

div#images li {
  list-style-type: none;
  padding: 5px 5px 0;
}

div#images ul {
  max-height: 100%;
  margin: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  overflow-y: scroll;
}

.current-slide {
  background-color: #ccf;
}

app-image-display {
  background-color: white;
  border: 1px solid #000;
  color: white;
  flex-grow: 1;

}

.fill-remaining-space {
  flex: 1 1 auto;
}

.home {
  color: inherit;
}

app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
