.container {
  display:flex;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

mat-grid-tile {
  border: 1px solid red;
}

mat-grid-list {
  height: 1000px;
}

body {
  margin: 5px;
}

.notice {
  font-style: italic;
}

div#images {
  //position: absolute;
  width: 15%;
}

img {
  max-width: 100%;
  height: auto;
}

div#images h2 {
  font-size: 1em;
  margin: 0;
}

.associated-images {
  margin: 0 1em;
  padding-left: 0;
}

div#images li {
  list-style-type: none;
  padding: 5px 5px 0;
}

div#images ul {
  max-height: 98%;
  margin: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  overflow-y: scroll;
}

.current-slide {
  background-color: #ccf;
}

app-image-display {
  //position: absolute;
  //left: 16%;
  width: 98%;
  height: 98%;
  background-color: black;
  border: 1px solid #000;
  color: white;
}

div#properties {
  //position: absolute;
  //left: 75%;
  width: 24.5%;
  //height: 98%;
  padding: 0 10px;
  overflow: auto;
}


div#properties dl {
  font-size: small;
  margin: 0;
}

div#properties dt {
  font-weight: bold;
  border-top: 1px solid #000;
  background-color: #eee;
}

div#properties dd {
  margin-left: 0;
}
