<mat-toolbar class="app-toolbar" color="primary">
    <a class="home" routerLink="/"><span>Whole Slide Image Analysis</span></a>
    <span class="fill-remaining-space"></span>
    <div ngbDropdown placement="bottom-right" autoClose="outside">
        <button mat-raised-button ngbDropdownToggle color="primary">
            Settings
        </button>
        <div ngbDropdownMenu aria-labelledby="settingsDropdown">
            <app-image-settings></app-image-settings>
        </div>
    </div>
</mat-toolbar>
<div class='cont'>
    <div id='images' *ngIf="searchResult$ | async as searchResult">

        <ul>
            <li>
                <h2>Similarity map:</h2>
                <img [src]="searchResult.mapImage.base64" alt="{{searchResult.mapImage.name}}">
                <hr>

            </li>
            <li>
                <h2>Selected image:</h2>
                <a (click)="display.setViewCenter(searchResult.selectedRegion.coordinates)">
                    <img [src]="searchResult.selectedRegion.base64">
                </a>
                <hr>
            </li>
            <h2>Images (Similar, Evaluated):</h2>

            <li *ngFor="let image of searchResult.regions">
                <a (click)="display.setViewCenter(image.coordinates)">
                    <img [src]="image.base64">
                </a>
                <p *ngIf="image.coordinates.score">Score: {{image.coordinates.score}}</p>
            </li>
        </ul>
    </div>
    <app-image-display *ngIf="!(isLoading$ | async)" imageId='{{imageId$ | async}}'
                       (select)='onSelect($event)'
                       [regions]="(searchResult$ | async)?.regions"></app-image-display>
</div>
<app-loader *ngIf="isLoading$ | async"></app-loader>



