<div class='container'>
    <div id='images' class='associated-images' *ngIf="selectedRegion">
        <ng-container>
            <ul>
                <li>
                    <h2>Selected image:</h2>
                    <a (click)="display.setViewCenter(selectedRegion.coordinates)">
                        <img [src]="selectedRegion.base64">
                    </a>
                    <hr>
                </li>
                <h2>Images (Similar, Evaluated):</h2>

                <app-loader *ngIf="selectedRegion&&!imageRegions.length"></app-loader>

                <li *ngFor="let image of imageRegions">
                    <a (click)="display.setViewCenter(image.coordinates)">
                        <img [src]="image.base64">
                    </a>
                    <p *ngIf="image.coordinates.score">Score: {{image.coordinates.score}}</p>
                </li>
            </ul>
        </ng-container>
    </div>
    <app-image-display imageId='{{imageId}}' (select)='onSelect($event)' [regions]="imageRegions"></app-image-display>
    <div id='properties'>
        <app-image-settings></app-image-settings>
        <ng-container *ngIf="mapImage">
            <h3>Similarity map</h3>
            <img [src]="mapImage.base64" alt="{{mapImage.name}}">
        </ng-container>
        <h3>Slide properties</h3>
        <div id='properties-inner'>
            <dl *ngFor="let prop of properties">
                <dt>{{ prop[0] }}
                <dd>{{ prop[1] }}
            </dl>
        </div>
    </div>
</div>



