<div *ngIf="settingsState$ | async as settingsState" class="settings-container">
    <h3>Settings:</h3>
    <div>
        <label>Type: </label>
        <select [ngModel]="settingsState.type" (ngModelChange)="filtersChange({type: $event})">
            <option *ngFor="let type of researchTypeOptions"
                    [ngValue]="type">{{type.name}}
            </option>
        </select>
    </div>
    <div *ngIf="settingsState.type.id == researchTypes.SIMILAR">
        <div class="descriptor-field">
            <label>Chosen descriptor: </label>
            <select [ngModel]="settingsState.descriptor" (ngModelChange)="filtersChange({descriptor: $event})">
                <option *ngFor="let descriptor of settingsOptions.similarImageSettingsOptions.descriptors"
                        [ngValue]="descriptor">{{descriptor.name}}
                </option>
            </select>
        </div>
        <div class="metric-field">
            <label>Chosen metric: </label>
            <select [ngModel]="settingsState.similarity" (ngModelChange)="filtersChange({similarity: $event})">
                <option *ngFor="let similarity of settingsOptions.similarImageSettingsOptions.similarities"
                        [ngValue]="similarity">{{similarity.name}}
                </option>
            </select>
        </div>
    </div>

</div>
