h2 {
  text-align: center;
}

.image-name {
  font-size: 18px;
}

.list-container {
  padding: 5px 5px 0;
  margin: auto;
  max-width: 600px;
}

.image-list {
  margin: auto;
}

.image {
}

img {
  width: 100%;
  height: auto;
}

.image-filter {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 15px;
}